/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
.header {
    background-color: #6a5acd; /* SlateBlue */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 24px;
    margin-right: 5px;
    color:darkred;
    font-weight: bold;
}

.logo-text-bold {
    font-weight: bold;
    color:darkred;
    font-size: 24px;
}

.nav {
    display: flex;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-item {
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
}

/* Main area styles */
.main {
    background-color: #f8f8f8;
    padding: 20px;
}

.file-convert-title {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

.file-convert-subtitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.file-convert-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-upload-label {
    padding: 15px 30px;
    background-color: #ff4d4d; /* Coral */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.file-input {
    display: none;
}

.upload-icon {
    margin-left: 5px;
    font-size: 20px;
}

.convert-button {
    padding: 15px 30px;
    background-color: #4169e1; /* RoyalBlue */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.convert-button:hover {
    background-color: #1e90ff; /* DodgerBlue */
}

.status-message {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 16px;
}

.selected-file {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.alternative-upload {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 16px;
}

/* Footer styles */
.footer {
    background-color: #333;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.taskbar {
    display: flex;
    align-items: center;
}

.taskbar-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
